{% extends 'base.html' %}
{% block title %}Login {% endblock %}

{% block content %}
<h2>Login:</h1><br>
<form action="" method="post">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" name="email_id" id="email" placeholder="Enter your email" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="pwd" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" name="password" id="pwd" placeholder="Enter your password" required>
        </div>
    </div>
    <input type= "submit" class="submit btn btn-primary " value = "Submit">
</form>

{% endblock %}
